@import "tailwindcss";

body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to bottom, #0D1B2A, #1E1E1E);
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}


